.App {
  text-align: center;
  text-align: center;
  height: 100vh;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  
}
  

  